.app-header {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    &-link {
        cursor: pointer;
    }
}

.app-toggler {
    border: none;
    color: #000000;
}